{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}


<section id="welcome-section" class="flex-column">
    
    <div class="welcome_text">
        
        <h1>Hi I am Solenne</h1>
        <h1>a web developper</h1>

        <div class="profile_picture">
            <img src="{{ asset('assets/solenne_mz.jpeg')}}">
        </div>
    </div>

        
</section>

<section id="projects">

    <div>

        <h1>Projects</h1>

            <div class="project-tile">

                <div class="card card-project" id="project_yellow_tribe">
                <div class="card-body">
                    <h5 class="card-title">Yellow Tribe</h5>
                    <a href="{{ path('yellow_tribe') }}" class="btn btn-secondary" role="button">More</a> 
                    {# link to modal or new page? If new page, redirect here with #projects in url #}
                </div>
                </div>

                <div class="card card-project" id="project_site_vitrine">
                <div class="card-body">
                    <h5 class="card-title">Site vitrine</h5>
                    <a href="#" class="btn btn-secondary">More</a> 
                    {# link to modal or new page? If new page, redirect here with #projects in url #}
                </div>
                </div>

                <div class="card card-project" id="">
                <div class="card-body">
                    <h5 class="card-title">Work in progress</h5>
                    <a href="#" class="btn btn-secondary">More</a> 
                    {# link to modal or new page? If new page, redirect here with #projects in url #}
                </div>
                </div>

            </div>        
        
    </div>

</section>

<section id="contact">

    <div>

        <h1>Contact me</h1>
        <div class="text-center personnal_contact">
            <i class="fas fa-phone"></i> 06 33 19 21 22
        </div>
        <div class="text-center personnal_contact">
            <i class="fas fa-at"></i> smazabraud@gmail.com
        </div>
        <div class="text-center social_link">
            <i class="fab fa-linkedin-in fx-10"></i>
            <i class="fab fa-github"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-free-code-camp"></i>
        </div>
        {# <a href="#" target="_blank" id="profile-link">Opens my Github profile + FCC</a> #}
    
    </div>

</section>


{% endblock %}
