{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}


<section id="welcome-section" class="flex-column">
    
    <div class="welcome_text">
        
        <h1>Hi I am Solenne</h1>
        <h1>a web developper</h1>

        <div class="profile_picture">
            <img src="{{ asset('assets/solenne_mz.jpeg')}}">
        </div>
    </div>

        
</section>

<section id="projects">

    <div>

        <h1>Projects</h1>

            <div class="project-tile row">

                <div class="card w-25">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>

                <div class="card w-25">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>

            </div>        
        
        {# add link to projet #}

    </div>

</section>

<section id="contact">

    <div>

        <h1>Me contacter</h1>
        <a href="#" target="_blank" id="profile-link">Opens my Github profile + FCC</a>
    
    </div>

</section>


{% endblock %}
