
body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Big Shoulders Display', cursive;
    font-family: 'Be Vietnam', sans-serif;
    */
}

/**** NAV ****/
nav {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    /* text-transform: uppercase; */
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: black;
    z-index: 2;
    border-bottom: 1px solid lightgrey;
}

nav a {
    color: white;
    text-decoration: none;
    padding-left: 0.8em;
}

nav a:hover {
    color: grey;
    text-decoration: none;
}
/**** /NAV ****/

/**** SECTIONS ****/
section {
    height: 100vh;
    display: flex;
}

/** WELCOME SECTION **/
#welcome-section {
    background-color: black;
    color: white;
}

#welcome-section div {
    width: 50%;
    margin: auto;
    text-align: center;
}

#welcome-section .profile_picture {
    padding-top: 1em;
}

#welcome-section .profile_picture img {
    border: 6px solid white;
    border-radius: 50%;
    width: 45%;
    height: 45%;
}

/** /WELCOME SECTION **/

/** PROJECTS SECTION **/
#projects {
    background-color: royalblue;
    color: white;
    border: 1px solid red;    
}

#projects h1 {
    width: 5em;
    margin-top: 1.5em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: 1px solid red;
}

#projects .card {
    z-index: 1;
}
/** /PROJECTS SECTION **/

/** CONTACT SECTION **/
#contact {
    background-color: rebeccapurple;
    color: white;
}

footer {
    background-color: rebeccapurple;
    color: white;
}
/** /CONTACT SECTION **/

/**** /SECTIONS ****/
