
body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Big Shoulders Display', cursive;
    font-family: 'Be Vietnam', sans-serif;
    */
}

/**** NAV ****/
nav {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    /* text-transform: uppercase; */
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: black;
    z-index: 2;
    border-bottom: 1px solid lightgrey;
}

nav a {
    color: white;
    text-decoration: none;
    padding-left: 0.8em;
}

nav a:hover {
    color: grey;
    text-decoration: none;
}
/**** /NAV ****/

/**** SECTIONS ****/
section {
    height: 100vh;
    display: flex;
}

/** WELCOME SECTION **/
#welcome-section {
    background: linear-gradient(#000000, #2A2B2E);
    color: white;
}

#welcome-section div {
    width: 50%;
    margin: auto;
    text-align: center;
}

#welcome-section .profile_picture {
    padding-top: 1em;
}

#welcome-section .profile_picture img {
    border: 6px solid white;
    border-radius: 50%;
    width: 45%;
    height: 45%;
}

/** /WELCOME SECTION **/

/** PROJECTS SECTION **/
#projects {
    background: linear-gradient(#2A2B2E, #515359);
    color: white; 
    display: flex;
    justify-content: center;
}

#projects h1 {
    width: 10em;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid lightgray;
}

#projects .project-tile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

#projects .card {
    z-index: 1;
}

#projects .card-project {
    width: 20em;
    height: 15em;
}

#projects .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#projects .card-title {
    color: black;
    font-weight: bold;
    font-size: 1.8em;
}

#projects .btn {
    position: relative;
    align-self: flex-end;
}

    /** YELLOW TRIBE **/
    #projects #project_yellow_tribe {
        background-image: url(../assets/Yellow_tribe_screen.png);
        background-position: top left;
        background-size: 20em 15em;
    }

    /** SITE VITRINE **/
    #projects #project_site_vitrine {
        background-image: url(../assets/site_vitrine_screen.png);
        background-position: top left;
        background-size: 20em 15em;
    }

/** /PROJECTS SECTION **/

/** CONTACT SECTION **/
#contact {
    background: linear-gradient(#515359, #6B6D75);
    color: white;
    display: flex;
    justify-content: center;
}

#contact h1 {
    width: 10em;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid lightgray;
}

/** /CONTACT SECTION **/

/**** /SECTIONS ****/


footer {
    background-color: #6B6D75;
    color: white;
}